@model SimpleWebShop.Models.Shop.ShopSearchProductViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Single Product -->
<div class="col-12 col-sm-6 col-lg-4">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img">
            <img src="@string.Format("/images/product-img/{0}", Model.Picture)" alt="">
            <!-- Hover Thumb -->
            <img class="hover-img" src="@string.Format("/images/product-img/{0}", Model.Picture)" alt="">

            <!-- Product Badge -->
            @*<div class="product-badge offer-badge">
                <span>-30%</span>
            </div>*@
            <!-- Favourite -->
            <div class="product-favourite">
                <a href="#" class="favme fa fa-heart"></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <span>SimpleWebShop</span>
                <h6>@Model.Name</h6>
            <p class="product-price"> @string.Format("${0}", Math.Round(Model.Price, 2))</p>

            <!-- Hover Content -->
            <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                    <a href="#" class="btn essence-btn">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>